@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
  font-style: normal;
}

/*             Hero Section             */

.hero-text {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  width: 584px;
  min-width: 584px;
}

#MissionDiv {
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#MissionDivText {
  flex: 1.2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
#MissionDivText p {
  margin-top: 10px;
  width: 80%;
}

#MissionDivImg {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#AboutImg {
  width: 90%;
}

/*              Founders Section        */

#FoundersContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
  height: 100%;
}

#FoundersImg {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  text-align: end;
  flex: 0.5;
}

#AboutDivContent {
  margin-top: 20px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#AboutPara {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  align-items: flex-start;
}

#AboutPara p {
  margin-top: 10px;
}
#BuiltByPara {
  width: 80%;
}

#CoFoundersText {
  width: 70%;
}

.read-more-button {
  color: white;
  background-color: #4ca6fa;
  border: none;
  border-radius: 10px;
  width: 25%;
  height: 10%;
  margin-top: 10px;
}

.read-more-button:hover {
  cursor: pointer;
}
.read-more-button a {
  text-decoration: none;
  color: white;
}

/*             Founders Section             */

#Founders {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#TransitionText {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  margin-top: -20px;
}

#TransitionText h1 {
  font-size: 70px;
}

#FoundersImg {
  order: 1;
}

#FoundersImg img {
  width: 100%;
  height: auto;
}

#Headshots {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headshot {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.headshot p {
  text-align: center;
}

.headshot img {
  width: 80%;
}

/*             contact           */

#contact .email-link {
  color: black;
}

#RequestDemoDiv {
  flex: 1;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#DemoRequestButton {
  border-radius: 10px;
  font-weight: bold;
  color: white;
  background-color: rgb(var(--blue));
  border: none;
  width: 50%;
  height: 15%;
  margin-top: 15px;
}
#DemoRequestButton:hover {
  cursor: pointer;
}

#DemoRequestButton a {
  text-decoration: none;
  color: white;
}

/*             Media Queries             */

@media only screen and (max-width: 1200px) {
  
}

@media only screen and (max-width: 992px) {
  #MissionDiv {
    flex-direction: column;
    height: 100%;
  }
  #MissionDivImg{
    display: none;
  }

  #AboutDivContent{
    flex-direction: column;
    justify-content: start;
  }
  #AboutPara{
    justify-content: start;
    flex:0.3;
  }

  
  #AboutImg {
    width: 80%;
  }
  #MissionDivText {
    margin-top: 10px;
    flex: 0.5;
  }

  #About-Header {
    font-size: 30px;
  }
}

@media only screen and (max-width: 768px) { 

}

@media only screen and (max-width: 600px) {
}
