@font-face {
    font-family: Inter;
    src: url("./assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
    font-style: normal;
}




.text-colored {
    color: rgb(var(--blue));
}


.blue-background{
    background-color: rgba(var(--blue), 0.1);
}



/*             Hero Section             */

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
    height: 70%;
}

.hero-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    width: 584px;
    min-width: 584px;
}

#FoundersImg{

    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    text-align: end;
    flex : 0.4;
}

#AboutDivContent{
    margin-top:20px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#AboutPara{
    flex : 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow:auto;
}

#AboutPara p{
    margin-top: 10px;
}
#BuiltByPara{
    width:100%;
}

#CoFoundersText{
    width: 70%;
}

#ReadMoreButton{

    color : white;
    background-color: #4CA6FA;
    border: none;
    border-radius: 10px;
    width: 20%;
    height: 6%;
    margin-top: 10px;
}

#ReadMoreButton:hover{
    cursor: pointer;
}
#ReadMoreButton a{
    text-decoration: none;
    color: white;

}

/*             Founders Section             */

#Founders{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#TransitionText{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
    margin-top:-20px;
}

#TransitionText h1{

    font-size: 70px;
}



#FoundersImg img{
    width:100%;
    height: auto;
}


#Headshots{
    
    margin-top:30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headshot{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.headshot p{
    text-align: center;
}

.headshot img{

    width: 80%;


}



/*             Call to Action           */

#FooterA{
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#FooterB{
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#CallToAction{
    width: 50%;
    flex:1;
}
#RequestDemoDiv{
    flex:1;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#DemoRequest{
    border-radius: 10px;
    font-weight: bold;
    color:white;
    background-color: rgb(var(--blue));
    border: none;
    width:50%;
    height: 15%;

}
/*             Media Queries             */

@media only screen and (max-width: 1200px) {
    .survey-images .phone-img {
        width: 50%;
        max-width: none;
    }
  

}

@media only screen and (max-width: 992px) {
    .hero-content .phone-img {
        display: none;
    }

    .survey-images .phone-img {
        display: none;
        width: 90%;
    }

    .survey-images .phone-img:first-of-type {
        display: block;
    }
    #About-Div{
        flex-direction: column;
    }
    #About-Header{
        font-size: 30px;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: min(8vw, 48px);
    }

    h2 {
        font-size: min(7vw, 36px);
    }
    .heading-1{
        font-size: min(8vw, 48px);
    }

    .heading-2 {
        font-size: min(7vw, 36px);
    }
    p{
        font-size: 24px;
    }
    .text-large {
        font-size: 25px;
    }

    .text-medium {
        font-size: 24px;
    }

    .nav-logo {
        height: 2em;
    }

    .nav-links {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);

        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;

        width: 70vw;
        max-width: 400px;
        height: 100vh;
        padding: 64px 32px 32px 32px;

        background-color: #fff;
        opacity: 0;
        box-shadow: -4px 0 16px -2px rgba(0, 0, 0, 0.4);
        transition: all 0.15s ease-in;
    }

    .nav-links li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .nav-links a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 12px 0;
        border: none !important;
        border-radius: 8px;
        background-color: rgba(var(--blue), 0.1);
    }

    .bottom-link {
        margin-top: auto;
    }

    #menu-check:checked ~ .nav-links {
        transform: translateX(0);
        opacity: 1;
    }
    
    .menu-bars {
        display: block;
        width: 1.25em;
        height: 1.25em;
        z-index: 2;
        cursor: pointer;
    }

    .hero-text {
        width: auto;
        min-width: auto;
    }

}

@media only screen and (max-width: 600px) {

}

