/*             Hero Section             */

#hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
    width: 100%;
}

.hero-content .phone-img {
    width: 25%;
}

.hero-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    width: 584px;
    min-width: 584px;
}

.phone-img {
    max-height: 80vh !important;
    filter: drop-shadow(0 8px 24px rgba(0, 0, 0, 0.4));
}

/*          Educator Section              */

#educator {
    background-color: rgba(var(--blue), 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.educator-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
}

.educator-dashboard {
    width: 60%;
    box-shadow: 0 4px 32px -6px rgba(0, 0, 0, 0.4);
    border-radius: 16px;
}

.educator-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

/*          Student Section              */

#student {
    background-color: rgb(var(--dark-gray));
    display: flex;
    justify-content: center;
    align-items: center;
}

.student-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
}

.student-images {
    gap: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.student-images .phone-img {
    max-width: 55%;
}

.student-text {
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    max-width: 348px;
}

/*          Contact Section              */

#contact {
    
}

/*             Media Queries             */

@media only screen and (max-width: 1200px) {
    .educator-content {
        flex-flow: column-reverse;
    }

    .educator-dashboard {
        width: 600px;
    }

    .educator-text {
        max-width: 600px;
    }

    .student-images .phone-img {
        display: none;
        max-width: none;
    }

    .student-images .phone-img:first-of-type {
        display: block;
    }
}

@media only screen and (max-width: 992px) {
    .hero-content .phone-img {
        display: none;
    }

    .student-images .phone-img {
        max-width: 100%;
    }

    .student-text {
        max-width: 320px;
    }
}

@media only screen and (max-width: 768px) {
    .hero-text {
        width: auto;
        min-width: auto;
    }

    .educator-dashboard {
        width: 500px;
    }

    .educator-text {
        max-width: 500px;
    }

    .student-images .phone-img:first-of-type {
        display: none;
    }

    .student-content {
        justify-content: center;
        gap: 0;
    }

    .student-text {
        max-width: 500px;
    }
}

@media only screen and (max-width: 600px) {
    .educator-dashboard {
        display: none;
    }
}