/*             Hero Section             */

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}

.hero-content .phone-img {
    width: 25%;
}

.hero-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    width: 584px;
    min-width: 584px;
}

/*          Educator Section              */

#educatorSection {
    background-color: rgba(var(--blue), 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.educator-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.educator-dashboard {
    box-shadow: 0 4px 32px -6px rgba(0, 0, 0, 0.4);
    border-radius: 16px;
}

.educator-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

/*          Student Section              */

#studentSection {
    background-color: rgb(var(--dark-gray));
}

/*          Contact Section              */

#contactSection {
    
}

/*             Media Queries             */

@media only screen and (max-width: 1200px) {
    
}

@media only screen and (max-width: 992px) {
    .hero-content .phone-img {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 600px) {
    
}