@font-face {
    font-family: Inter;
    src: url("./assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
    font-style: normal;
}

:root {
    --blue: 76, 166, 250;
    --dark-gray: 65, 65, 65;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0 10%;
    overflow: hidden;
}

h1, .heading-1 {
    font-size: 52px;
    font-weight: 700;
}


h2, .heading-2 {
    font-size: 36px;
    font-weight: 700;
}

p, .text-large {
    font-size: 24px;
    font-weight: 400;
}

.text-medium {
    font-size: 20px;
    font-weight: 400;
}

.text-small {
    font-size: 16px;
    font-weight: 400;
}

.text-colored {
    color: rgb(var(--blue));
}

.section-container-medium {
    position: relative;
    width: 100%;
    height: 80vh;
    padding: 0 10%;
    overflow: auto;
}

.section-container-smaller{
    position: relative;
    width: 100%;
    height: 40vh;
    padding: 0 10%;
    overflow: auto;
}


.cta-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .5em 1em;
    border-radius: .5em;
    background-color: rgb(var(--blue)) !important;
    color: #fff !important;
    font-weight: 600;
    text-decoration: none;
}

.blue-text{
    color: #4CA6FA;
}
.white-text{
    color: white;
}
.text-colored {
    color: rgb(var(--blue));
}


.blue-background{
    background-color: rgba(var(--blue), 0.1);
}



.dark-background{
    color:white;
    background-color: rgb(var(--dark-gray));
}

/*             Footers           */

#FooterA{
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#FooterB{
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#CallToAction{
    width: 50%;
    flex:1;
}
#ContactDemo{
    flex:1;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}


#ContactUs{
    width:50%;
}

#RequestDemoDiv{
    flex:1;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#DemoRequestButton{
    border-radius: 10px;
    font-weight: bold;
    color:white;
    background-color: rgb(var(--blue));
    border: none;
    width:50%;
    height: 15%;
    margin-top:15px;
}
#DemoRequestButton:hover{
    cursor: pointer;
}


#DemoRequestButton a{
    text-decoration: none;
    color: white;
}


/*             Transitions                */
.hidden{
    opacity: 0;
    transition: all 1s;
}

.show{
    opacity: 1;
}


.hidden-return{ /*separating from other hidden elements so that we can query for the ones we want to disappear when not in viewport */
    opacity: 0;
    transition: all 1s;
}

.show-return{
    opacity: 1;
}

.hidden-slower{ /* Simply a slower transition */
    opacity: 0;
    transition: all 2s;
}

.show-slower{
    opacity: 1;
}



.hidden-fly{ /*Items will fly into the viewport */
    opacity: 0;
    transition: all 1s;
    transform: translateX(-100%);

}

.show-fly{
    opacity: 1;
    transform: translateX(0);

}

.spacer{
    height:5vh;
}

/*             Navigation             */

nav {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 10%;
}

nav a {
    display: flex;
    align-items: center;
}

.nav-logo {
    height: 3em;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    list-style-type: none;
    overflow: hidden;
    transition: max-height .15s ease-in;
    z-index: 1;
}

.nav-links-white{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    list-style-type: none;
    overflow: hidden;
    transition: max-height .15s ease-in;
    z-index: 1;
}

.nav-links a {
    color: #000;
    text-decoration: none;
    transition: all 0.15s ease-in;
    border-bottom: 2px solid rgb(var(--blue), 0);
}
.nav-links-white a {
    color:white;
    text-decoration: none;
    transition: all 0.15s ease-in;
    border-bottom: 2px solid rgb(var(--blue), 0);
}


.nav-links a:hover {
    border-bottom: 2px solid rgb(var(--blue), 1);
}

#menu-check, .menu-bars {
    display: none;
}

.menu-bars svg {
    fill: #000;
}

/*          Footer              */

#footer {
    background-color: rgba(var(--blue), 0.1);
}

/*             Media Queries             */

@media only screen and (max-width: 1200px) {
    
}

@media only screen and (max-width: 992px) {
    
}

@media only screen and (max-width: 768px) {
    h1, .heading-1 {
        font-size: min(8vw, 48px);
    }

    h2, .heading-2 {
        font-size: min(7vw, 36px);
    }

    p, .text-large {
        font-size: 19px;
    }

    .text-medium {
        font-size: 17px;
    }
    .text-small {
        font-size: 12px;
    }


    .nav-logo {
        height: 2em;
    }

    .nav-links {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);

        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;

        width: 70vw;
        max-width: 400px;
        height: 100vh;
        padding: 64px 32px 32px 32px;

        background-color: #fff;
        opacity: 0;
        box-shadow: -4px 0 16px -2px rgba(0, 0, 0, 0.4);
        transition: all 0.15s ease-in;
    }

    .nav-links li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .nav-links a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 12px 0;
        border: none !important;
        border-radius: 8px;
        background-color: rgba(var(--blue), 0.1);
    }

    .bottom-link {
        margin-top: auto;
    }

    #menu-check:checked ~ .nav-links {
        transform: translateX(0);
        opacity: 1;
    }
    
    .menu-bars {
        display: block;
        width: 1.25em;
        height: 1.25em;
        z-index: 2;
        cursor: pointer;
    }

    .hero-text {
        width: auto;
        min-width: auto;
    }
}

/*          Scroll Transitions           */

.hidden{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}
.hidden-left, .hidden-right {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.hidden-left {
    transform: translateX(-100%);
}

.hidden-right {
    transform: translateX(100%);
}

.show-left, .show-right {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
}

.show{
    opacity: 1;
    filter: blur(0);
}

@media only screen and (max-width: 600px) {

}

@media (prefers-reduced-motion) {
    .hidden-left, .hidden-right {
        transition: none;
    }
}

