@font-face {
    font-family: Inter;
    src: url("./assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
    font-style: normal;
}

:root {
    --blue: 76, 166, 250;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
    font-size: 16px;
}

.blue-text{
    color: #4CA6FA;
}

.section-container {
    width: 100%;
    height: 100vh;
    padding: 0 10%;
}

.cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em 1em;
    border-radius: .5em;
    background-color: rgb(var(--blue));
    color: #fff !important;
    font-weight: 600;
}

nav {
    display: grid;
    grid-template-columns: 1fr min-content;
    width: 100%;
    padding: 1em 10%;
}

.nav-logo {
    height: 3em;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    background-color: #fff;
    list-style-type: none;
    overflow: hidden;
    transition: max-height .15s ease-in;
    z-index: 1;
}

.nav-links a {
    color: #000;
    text-decoration: none;
    transition: all 0.15s ease-in;
    border-bottom: 2px solid rgb(var(--blue), 0);
}

.nav-links a:hover {
    border-bottom: 2px solid rgb(var(--blue), 1);
}

#menu-check, .menu-bars {
    display: none;
}

.menu-bars svg {
    fill: #000;
}




#Exit-Ticket{

    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(76,166,250,0.1);
}

#exit-ticket-img{
    width: 60%;
    height:auto;
}
.right-caption{
    margin-left:50px;
    margin-bottom: 100px;
}

.right-caption p{
    margin-top: 10px;
    font-size: 1.7em;

}


.right-caption h1{
    font-size: 3.1em;

}

.left-caption{
    margin-right:50px;
    margin-bottom: 100px;
}

.left-caption p{
    margin-top: 10px;
    font-size: 1.7em;

}


.left-caption h1{
    font-size: 3.1em;

}



#Anonymous-Questions{

    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:white;
}

#questions-img{
    width: 80%;
    height:auto;

}


#Track-Attendance{

    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(76,166,250,0.1);
}

#calendar-img{
    width:60%;
    height: auto;
}
@media only screen and (max-width: 768px) {
    .nav-logo {
        height: 2em;
    }

    .nav-links {
        grid-column: 1 / -1;
        flex-direction: column;
        max-height: 0px;
        margin: 1em 0 0 0;
    }

    #menu-check:checked ~ .nav-links {
        max-height: 1000px;
    }
    
    .menu-bars {
        display: block;
        width: 1.25em;
        height: 1.25em;
        cursor: pointer;
    }
    .right-caption{
        width: 400px;
        text-align: center;
    }



}

@media only screen and (max-width: 1400px) {
    
    #Exit-Ticket{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
     
    #Anonymous-Questions{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #Track-Attendance{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #exit-ticket-img{
        width: 65%;
        height: auto;
    }
    .right-caption{
        margin-left: 0px;
        margin-bottom: 0px;
        width: 500px;

    }
    .right-caption h1{
        font-size: 26px;
    }
    .right-caption p{
        font-size: 17px;
    }
    .left-caption h1{
        font-size: 26px;
    }
    .left-caption p{
        font-size: 17px;
    }
    .left-caption{
        margin-right: 0px;
        margin-bottom: 0px;
        width: 500px;

    }

    #calendar-img{
        order:1;
    }

    

}


@media only screen and (max-width: 1000px) {

    #exit-ticket-img{
        width:65%;
        height: auto;
    }
    .right-caption{
        width: 70%;
    }
    .left-caption{
        width: 70%;
    }


}

@media only screen and (max-width: 600px) {
    
    #exit-ticket-img{
        width:100%;
        height: auto;
    }
    .right-caption{
        width: 100%;
    }
    .left-caption{
        width: 70%;
    }

    .right-caption h1{
        font-size: 21px;
    }
    .right-caption p{
        font-size: 14px;
    }


}
@media only screen and (max-width: 500px) {

    .section-container{
        height: 75vh;
    }
}